body {
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
    font-weight:bold;
}
h1{
	margin:10px;
	font-size: 120px;
}
h2{
	margin:10px;
	font-size: 45px;
}
h3{
	margin:10px;
	font-size: 35px;
}
p{
	margin:1vw;
	font-size: 25px;
}
li{
	margin:10px;
    font-size: 25px;
}
td{
	margin:10px;
}
label{
	font-size: 25px;
}
input {
    display: inline;
    margin-top: 20px;
}
code {
    font-size:25px;
}



.title_bar {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index:100;
}
.title_heading {
    text-align: center;
    color: white;
    float: left;
    width: 100%;
    margin: 0;
    display:inline;
    text-decoration: none;
}
.logo img{
    float: left;
    display:inline;
    text-align: left;
    object-fit: cover;
    height: auto;
    max-width:100%;
    max-height:100%;
}
.link_section a{
    height:6vw;
    float: right;
}

.button {
    border: none;
    padding: 5px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;

    text-align: right;
    color: white;
    margin: 0.1vw;
    margin-left:1vw;
    text-decoration: none;
    display:block;
    font-size:1.25vw;
    
}

/* Dropdown */
.dropbtn {
    width:12vw;
    text-align: center;
}


.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: fixed;
    z-index: 150;
    top:0px;
}

.dropdown-content a {
    float: none;
    display: block;
    text-align: center;
    outline: limegreen solid 2px;
    padding: 5px;
    height: auto;
    width: calc(12vw + 78px);
    transform: translateX(-46px);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover .dropdown-content {
    display: block;
}

/* End Dropdown */






.columns-block {
    width:100%;
    display:table;
    padding-bottom:60px;
    display:flex;
    flex-wrap:wrap;
}

.columns-block:after {
    content: "";
    display: table;
    clear: both;
}

.title_bar_title {
    text-align:center;
    padding-bottom: 15px;
    width:80%;
    margin: 0 auto;
}

.form-question {
    margin-bottom: 50px;
    margin-top: 20px;
    height: auto;
    font-size: 25px;
    width:100%;
}



#title_bar_div{
    position:sticky;
    width:100%;
    top:0;
}

#menu_div{
    position:fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background:rgba(0,0,0,0.75);
    width:75%;
    height: 75%;
    left:12.5%;
    top:12.5%;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.mobile_menu_item {
    display:block;
    padding: 25px;
    text-align:center;
    font-size:8vw;
}

#outer_menu_div {
    position:fixed;
    width:100%;
    height:100%;
    backdrop-filter: blur(10px);
}

/*#### PC ####*/
@media screen and (min-width: 1024px){
    .title_bar {
        height:6vh;
    }
    .desktop-only {
        display:inline;
    }
    .mobile-only {
        display:none;
    }
    .primary_div {
        width: 80%;
        margin: 0 auto;
    }
    .column-half-width {
        /*flex:1;*/
        width:50%;
    }
    .column-third-width {
        width: 33.333%;
    }

    .form-question {
        font-size: 25px;
    }

}

/*#### Mobile ####*/
@media screen and (min-width : 0px) and (max-width : 1023px){
/*Style*/
    h1, h2, h3 {
        text-align:center;
    }
    .title_bar {
        height:6vh;
    }
    .desktop-only {
        display:none;
    }
    .mobile-only {
        display:inline;
    }

    .primary_div {
        width: 90%;
        margin: 0 auto;
    }

    .column-half-width {
        display:inline;
        width: 100%;
        height:auto !important;
    }

    .column-third-width {
        display:inline;
        width: 100%;
        height:auto !important;
    }

    .form-question {
        font-size: 50px;
    }
}